

<h1>My Videos</h1>

<table>
  <thead>
  <% @videos.each do |video| %>
     <% if video.user_id == current_user.id %>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td><%= video.title %></td>
        <td><%= video.description %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
    
<% if @videos.count == 0 %>
  <h1> there are no videos belongs to this category :< !!　申し訳ございません</h1>

<% else  %>	
  
	<div class="row">

		<% @videos.each do |video| %>
      <% if video.user_id == current_user.id %>
			<div class="col-md-1">
				<a href="/videos/<%= video.id %>">
					<%= image_tag(video.thumbnail, size: "250", data: { title: video.title }) %>
          <br>
          <strong><%= video.title %></strong>
				</a>
        <br>
        <p> category: <%= Category.find(video.category_id.to_i).category %></p>
        <td> duration: <%= ActiveStorage::Analyzer::VideoAnalyzer.new(video.clip.blob).metadata[:duration]%></td>
        <p> description: <%= video.description %></p>
        <p> <%= video.impressionist_count %> views</p> 
       
			</div>	

		<% end %>
    <% end %>

	</div>
<%end%>

<br>
 
<%= link_to 'New Video', new_video_path %>
